@page "Home"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<partial name="_PageHeader" view-data="ViewData" />

<!-- Main content -->
<section class="content">
    <div class="container-fluid">


    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->